body{
	margin:30px;
	margin:0;
}

@media(min-width:992px){

div{
	position: relative;
	background-color: gray;
	margin:1.5%;
	width:24%;
	float:left;
    border:1px solid black;
	padding: 3%;
}

#title1{
	position: absolute;
	background-color: red;
	width:60px;
	margin-top: 0px;
	top:0px;
	right:0px;
	border:1px solid black;
	text-align: center;
	margin:3px;
}

#title2{
	position: absolute;
	background-color: blue;
	width:60px;
	margin-top: 0px;
	top:0px;
	right:0px;
	border:1px solid black;
	text-align: center;
	margin:3px;
}

#title3{
	position: absolute;
	background-color: green;
	width:60px;
	margin-top: 0px;
	top:0px;
	right:0px;
	border:1px solid black;
	text-align: center;
	margin:3px;
}

}

@media(768px <= width <=991.99px){

#s1{
	position: relative;
	background-color: gray;
	margin:1.5%;
	width:42.7%;
	float:left;
	border:1px solid black;
	padding-top:4%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;

}

#s2{
	position: relative;
	background-color: gray;
	margin:1.5%;
	width:42.7%;
	float:left;
	border:1px solid black;
	padding-top: 4%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
}

#s3{
	position: relative;
	background-color: gray;
	margin:1.5%;
	width:93%;
	float:left;
	border:1px solid black;
	padding-top: 4%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
}

#title1{
	position: absolute;
	background-color: red;
	width:60px;
	margin-top: 0px;
	top:0px;
	right:0px;
	border:1px solid black;
	text-align: center;
	margin:3px;

}

#title2{
	position: absolute;
	background-color: blue;
	width:60px;
	margin-top: 0px;
	top:0px;
	right:0px;
	text-align: center;
	margin:3px;
	border:1px solid black;
}

#title3{
	position: absolute;
	background-color: green;
	width:60px;
	margin-top: 0px;
	top:0px;
	right:0px;
	border:1px solid black;
	text-align: center;
	margin:3px;
}

}

@media(max-width:767.99px){

#s1{
	position: relative;
	background-color: gray;
	margin:1.5%;
	width:93%;
	float:left;
	border:1px solid black;
	padding-top:4%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;

}

#s2{
	position: relative;
	background-color: gray;
	margin:1.5%;
	width:93%;
	border:1px solid black;
	float:left;
	padding-top:4%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
}

#s3{
	position: relative;
	background-color: gray;
	margin:1.5%;
	width:93%;
	float:left;
	padding-top:4%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	border:1px solid black;
}

#title1{
	position: absolute;
	background-color: red;
	width:60px;
	margin-top: 0px;
	top:0px;
	right:0px;
	border:1px solid black;
	text-align: center;
	margin:3px;
}

#title2{
	position: absolute;
	background-color: blue;
	width:60px;
	margin-top: 0px;
	top:0px;
	right:0px;
	border:1px solid black;
	text-align: center;
	margin:3px;
}

#title3{
	position: absolute;
	background-color: green;
	width:60px;
	margin-top: 0px;
	top:0px;
	right:0px;
	text-align: center;
	border:1px solid black;
	margin:3px;
}

}



header{
	font-weight: bolder;
	font-size:24px;
	text-align: center;
	margin-bottom: 30px;
	margin-top:30px;
}